.place-order {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: start;
  gap: 50px;
}

.place-order-left {
  width: 100%;
  width: max(30%, 500px);
}
.place-order-left .title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.place-order-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(178, 121, 216, 0.959);
  outline-color: #ac23de;
}
.place-order-left .multiple-fields {
  display: flex;
  gap: 10px;
}
.place-order-right {
  width: 100%;
  width: max(40%, 500px);
}
